.container {
    height: 100vh;
    background-color: #202024;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.header_section_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.section_title_wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.section_title_wrapper > h1{
    color: #E1E1E6;
}

.main_wrapper {

}