.sidebar_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 93vh;

    padding: 1rem;
}

.sb_button {
    background: none;
    border: none;

    cursor: pointer;

    padding: 0.5rem;

    transition: all 0.2s ease-in-out;
}

.sb_button:hover {
    background: rgba(0, 0, 0, 0.1);

    border-radius: 0.5rem;

    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.link {
    color: #fff
}